/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

/* Variables */
:root {

    /* Colors */
    --clr-white: #FFFFFF;
    --clr-gray-300: #FAF9F8;
    --clr-gray-400: #E4E2E0;
    --clr-gray-500: #B6B6B6;
    --clr-gray-800: #949494;
    --clr-black: #2D2D2D;
    --clr-blue: #597FBB;
}

/* Typography */
body {
    font-family: 'Inter', sans-serif;
    
    /* Font size */
    --fs-sm: .8rem;
    --fs-base: 1rem;
    
    font-size: var(--fs-base);
}
